<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Welcome to the Django at OpenShift </h1>
<p>Esse é um exemplo de como criar uma aplicação com Django e rodar no OpenShift. Além disso essa aplicação está configurada no
Travis-CI para realizar testes automatizados assim que houver mudanças no código fonte</p>
<strong>URLs dessa aplicação:</strong>
 <ul>
  <li><strong>/polls</strong>: aplicação de questões</li>
  <li><strong>/admin</strong>: usuario <i> admin </i> senha: <i>teste123</i>'</li>
</ul>

</body>
</html>